body {
  min-height: 100vh;
}

canvas {
  display: block;
}

form {
  display: grid;
  gap: 8px;
  grid-template-columns: auto 1fr;
  inline-size: 200px;
}

form > input[type="submit"],
form > button {
  grid-column: -1 / 1;
}

#path_wrapper,
#clean {
  display: none;
}
